@charset "UTF-8";
/*-------------------------accueil------------------*/
#explication {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
#schbox2 {

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}

/*---------------image des person-------------*/
.container {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
<img src="/data/imgtest.jpg" class="img-circle person" alt="Khaled">
<img src="/data/imgtest.jpg" class="img-circle person" alt="Johan">
<img src="/data/imgtest.jpg" class="img-circle person" alt="Rafik">

/*carousel des images des person*/

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 50%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/*les cadres des dates  */
.bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }

  /*contact*/

  .nav-tabs li a {
    color: #777;
}

/*le menu */

/* Add a dark background color with a little bit see-through */
.navbar {
   margin-bottom: 0;
   background-color: #2d2d30;
   border: 0;
   font-size: 11px;
   letter-spacing: 4px;
   opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
   color: #d5d5d5;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
   color: #fff;
}

/* The active link */
.navbar-nav li.active a {
   color: #fff;
   background-color:#29292c;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
   border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
   color: #fff ;
   background-color: #555;
}

/* Dropdown links */
.dropdown-menu li a {
   color: #000;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
   background-color: red;
}

/*le footer*/

.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.OurBlog > p {
  color: #888888;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;

}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
}

address {
  color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
}
.footer-top-layout {
  color: #ffffff;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;

}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}
.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-left: 0;
  margin-right: 6px;
}
.footer-col-item span {
  margin-left: 7px;
}
.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.signUpNewsletter {
  position: relative;
}
.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}
.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}
.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}
.footer-bottom-layout {
  text-align: center;
}




/* teste de la barre de recherche */
.ul {
  list-style-type:none;
}
